/*Adding fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/*Initializing color vairables*/
:root {
    --light: #55ACEE;
    --dark1: #292F33;
    --dark2: #ccd6dd66;
    --dark3: #E1E8ED;
}

html {
    background-color: var(--dark2);
}

article {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

/*------------------Header------------------*/

header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    color: var(--dark1);
}

h2 {
    color: var(--light);
}

img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px var(--dark1) solid;
}

/*------------------Body------------------*/

main {
    font-size: 1.3rem;
    border: 2px red solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 750px;
    margin-bottom: 30px;
}

section {
    width: 400px;
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    margin-top: 20px;
    height: fit-content;
    
    
}

section:hover {
    transform: scale(1.2);
    transition: ease 0.4s;
    box-shadow: 0px 0px 10px gray;
    z-index: 1;
}

section:not(:hover) {
    transform: scale(1);
    transition: ease 0.4s;
}

.title {
    color: var(--light);
    text-decoration: underline;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#skills {
    width: 200px;
}

#work {
    width: 500px;
}

#work p {
    font-style: italic;
    color: gray;
    font-size: 1rem;
    margin: 10px 0;
}

#work span {
    margin-top: 40px;
}

#education {
    width: 450px;
}

table > :nth-child(1) > :nth-child(1) {
    font-weight: 600;
    height: 60px;
}

td {
    width: 1000000px;
}

#languages {
    width: 200px;
}

/*------------------Aside------------------*/

aside {
    background-color: var(--light);
    width: 300px;
    color: white;
    font-size: 1.3rem;
    height: fit-content;
}

aside > section {
    background: none;
}

/*------------------Media Queries------------------*/

/*centering banners on tablet and mobile*/
@media only screen and (max-width: 700px) {
    main {
        justify-content: center;
    }
    section {
        min-width: 80%;
        max-width: 80%;
    }
  }


/*removing on hover animation*/
@media only screen and (max-width: 854px) {
    section:hover {
        transform: none;
        box-shadow: none;
    }
}